@import "../../../lib/base/css/globalStyle";
.goodsList{
	padding: pxToRem(10px) pxToRem(10px) 0;
	background: #F8F8F8;
	overflow: hidden;
	li{ 
		margin-right: pxToRem(10px);
		margin-bottom: pxToRem(10px);
		float: left; 
		&:last-of-type{
			margin-right: 0;
		}
		img{
			width: pxToRem(50px);
			height: pxToRem(50px);
		}
	}
}